<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Су-24 - Тактический Бомбардировщик</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='allstyle.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Су-24: Тактический Бомбардировщик</h1>
        </header>

        <section class="top-section">
            <div class="image-container">
                <img src="https://parkpatriot.ru/upload/iblock/9d0/Su_24.jpg" alt="Су-24">
            </div>
            <div class="info-card">
                <h2>Основная информация</h2>
                <ul>
                    <li><strong>Тип:</strong> Тактический бомбардировщик</li>
                    <li><strong>Макс. скорость:</strong> 1 500 км/ч</li>
                    <li><strong>Дальность:</strong> 3 000 км</li>
                    <li><strong>Масса:</strong> 24 000 кг</li>
                    <li><strong>Экипаж:</strong> 2 человека</li>
                    <li><strong>Двигатели:</strong> 2 × РД-36-35</li>
                    <li><strong>Вооружение:</strong> ракеты "воздух-земля", авиабомбы, пушка ГШ-23</li>
                </ul>
            </div>
        </section>

        <section class="detailed-info">
            <h2>Подробная информация</h2>
            <p><strong>Разработка:</strong> Су-24 — российский тактический бомбардировщик с изменяемой геометрией крыла, предназначенный для поражения наземных целей в условиях активного противодействия. Первый полет состоялся в 1977 году, а в 1983 году самолет был принят на вооружение.</p>
            <p><strong>Модификации:</strong> Су-24 имеет несколько модификаций, включая Су-24М с модернизированной авионикой и вооружением для более эффективных ударов по наземным целям.</p>
            <p><strong>Вооружение:</strong> Су-24 оснащен широким спектром вооружений, включая ракеты "воздух-земля", управляемые и неуправляемые авиабомбы, а также пушку ГШ-23 для защиты в ближнем бою.</p>
            <p><strong>Использование:</strong> Су-24 активно используется в ВВС России и других странах. Он успешно выполняет задачи в различных климатических условиях, включая ночные и дальние миссии, а также в условиях сложных погодных условий.</p>
            <p><strong>Материалы:</strong> Су-24 использует прочные сплавы и композитные материалы для повышения прочности и аэродинамических характеристик, что позволяет ему работать на больших расстояниях и в условиях активного противодействия.</p>
            <p><strong>Системы:</strong> Су-24 оснащен передовыми средствами навигации и прицеливания, что позволяет ему точно наносить удары по целям на дальних дистанциях. Также он использует системы радиоэлектронной борьбы для подавления средств ПВО противника.</p>
        </section>

        <button class="back-button" onclick="window.history.back()">Назад</button>
    </div>
</body>
</html>
