<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Су-34 - Многоцелевой Истребитель</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='allstyle.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Су-34: Многоцелевой Истребитель</h1>
        </header>

        <section class="top-section">
            <div class="image-container">
                <img src="https://overclockers.ru/st/legacy/blog/430440/528649_O.jpg" alt="Су-34">
            </div>
            <div class="info-card">
                <h2>Основная информация</h2>
                <ul>
                    <li><strong>Тип:</strong> Многоцелевой бомбардировщик</li>
                    <li><strong>Макс. скорость:</strong> 1 900 км/ч</li>
                    <li><strong>Дальность:</strong> 4 000 км</li>
                    <li><strong>Масса:</strong> 45 000 кг</li>
                    <li><strong>Экипаж:</strong> 2 человека</li>
                    <li><strong>Двигатели:</strong> 2 × РД-33МК</li>
                    <li><strong>Вооружение:</strong> ракеты "воздух-земля", авиабомбы, пушка ГШ-30-1</li>
                </ul>
            </div>
        </section>

        <section class="detailed-info">
            <h2>Подробная информация</h2>
            <p><strong>Разработка:</strong> Су-34 — российский многоцелевой бомбардировщик, разработанный на базе Су-27. Он предназначен для нанесения ударов по наземным и воздушным целям в любых погодных условиях. Первый полет состоялся в 1990 году, а в 2014 году самолет был принят на вооружение.</p>
            <p><strong>Модификации:</strong> Су-34 существует в нескольких модификациях, включая версии с улучшенной электроникой, модернизированным вооружением и улучшенной авионикой.</p>
            <p><strong>Вооружение:</strong> Су-34 оснащен разнообразным вооружением, включая ракеты "воздух-земля", управляемые авиабомбы, а также пушку ГШ-30-1 для ближнего боя.</p>
            <p><strong>Использование:</strong> Су-34 активно используется в Военно-Воздушных Силах России. Он применяется для выполнения различных задач: от стратегической бомбардировки до уничтожения наземных целей и воздушных боевых миссий.</p>
            <p><strong>Материалы:</strong> Су-34 использует композитные материалы для улучшения аэродинамических характеристик и уменьшения массы. Самолет также оснащен мощным радиоэлектронным оборудованием, которое помогает ему в выполнении боевых заданий.</p>
            <p><strong>Системы:</strong> Су-34 оснащен современными радарными системами и средствами радиоэлектронной борьбы, что позволяет ему работать в условиях плотной ПВО противника и активно уничтожать цели на больших дистанциях.</p>
        </section>

        <button class="back-button" onclick="window.history.back()">Назад</button>
    </div>
</body>
</html>
